* {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Barlow', sans-serif;
}

.px {
    padding-left: 5%;
    padding-right: 5%;
}

body {
    
}

@media screen and (min-width: 900px) {
    
}