
:root {
    --daek-blue: #162542;
    --light-blue: #7B8BAD;
    --light-orange: #FF9B62;
    --grey: #E8EFF2;
    --orange: #F16718;
    --white: #FFF;
}

* {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Barlow', sans-serif !important;
}

.px {
    padding-left: 5%;
    padding-right: 5%;
}

.bg-grey {
    background-color: var(--grey);
}

.bg-orange {
    background-color: var(--orange);
}

.text-dark-blue {
    color: var(--daek-blue);
}

.text-light-blue {
    color: var(--light-blue);
}

@media screen and (min-width: 768px) {
    .pr-md-0 {
        padding-right: 0;
    }
}


@media screen and (min-width: 992px) {
    .pl-lg-0 {
        padding-left: 0;
    }

    .px--md {
        padding-left: 10%;
        padding-right: 10%;
    }
}