.hero__illustration {
    background-image: url(../images/mobile/image-keyboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-left: auto;
    width: 95%;
}

@media screen and (min-width: 768px) {
    .hero__content {
        width: 50%;
    }

    .hero__illustration {
        background-image: url(../images/tablet/image-keyboard.jpg);
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        background-image: url(../images/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-position: right -100px top;
        background-size: 200px;
    }

    .hero__content {
        width: 40%;
    }

    .hero__illustration {
        background-image: url(../images/desktop/image-keyboard.jpg);
        margin-left: 0;
        height: 400px;
        width: 480px;
    }

    .hero__release-date {
        margin-left: 3rem;
    }
}