.mechanical-keyboard__keyboards-container {
    width: 95%;
    margin-right: auto;
}

.mechanical-keyboard__first-keyboard, .mechanical-keyboard__second-keyboard {
    background-repeat: no-repeat;
    background-position: center;
    height: 270px;
}

.mechanical-keyboard__first-keyboard {
    background-image: url(../images/mobile/image-phone-and-keyboard.jpg);
    width: 31%;
}

.mechanical-keyboard__first-keyboard::after {
    background-color: #f16718d4;
    border-radius: 0 1rem 1rem 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.mechanical-keyboard__second-keyboard {
    background-image: url(../images/mobile/image-glass-and-keyboard.jpg);
    width: 60%;
}

@media screen and (min-width: 576px) {
    .mechanical-keyboard__keyboards-container {
        width: 100%;
    }

    .mechanical-keyboard__first-keyboard, .mechanical-keyboard__second-keyboard {
        height: 350px;
    }

    .mechanical-keyboard__first-keyboard {
        background-image: url(../images/tablet/image-phone-and-keyboard.jpg);
    }

    .mechanical-keyboard__first-keyboard::after {
        border-radius: 1rem;
    }

    .mechanical-keyboard__second-keyboard {
        background-image: url(../images/tablet/image-glass-and-keyboard.jpg);
    }

    .mechanical-keyboard__content {
        padding: 0;
    }
}


@media screen and (min-width: 768px) {
    .mechanical-keyboard__title {
        font-size: 2rem !important;
    }

    .mechanical-keyboard__description {
        margin-left: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .mechanical-keyboard {
        background-image: url(../images/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-position: left -100px top;
        background-size: 200px;
        margin-bottom: 3rem;
    }

    .mechanical-keyboard__keyboards-container {
        margin-bottom: 0 !important;
        width: 75%;
    }

    .mechanical-keyboard__first-keyboard {
        background-image: url(../images/desktop/image-phone-and-keyboard.jpg);
        width: 37%;
    }

    .mechanical-keyboard__second-keyboard {
        background-image: url(../images/desktop/image-glass-and-keyboard.jpg);
    }
    .mechanical-keyboard__content {
        margin-top: 0 !important;
        width: 15%;
    }

    .mechanical-keyboard__description {
        margin-left: 0;
    }
}